body {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0;
  
  font-family: HKGrotesk, sans-serif;
  color: #fff;
  line-height: 1.2;
  
  background-color: #212c44;
}

body * {
  box-sizing: border-box;
}

.header {
  margin-top: 60px;
  margin-bottom: 50px;
}

.form-search-btn {
  font-size: 0;
  width: 35px;
  height: 35px;
  background: url(../img/search.svg) no-repeat 50% 50%;
  border: none;
  border-bottom: 3px solid #62767f;
  cursor: pointer;
}

input[id="query-search"] {
  width: 170px;
  height: 35px;
  font-family: HKGrotesk, sans-serif;
  font-size: 24px;
  color: #62767f;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #62767f;
}

h1, h2 {
  font-family: 'League Spartan', Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.first-block__item {
  position: relative;
  flex-basis: 100%;
  min-height: 690px;
  
  padding: 50px 60px;
  margin-bottom: 40px;
  
  background-image: url(../img/product.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.first-block__item h1 {
  font-size: 80px;
  margin-bottom: 20px;
}

.item__large-content {
  width: 36%;
  font-size: 32px;
}

.item__large-content p {
  margin-bottom: 120px;
}

.stiker {
/*  width: 9.5%;*/
  width: 110px;
  height: 110px;
  
  position: absolute;
  top: 37px;
  right: 37px;
  
  font-family: Baloo;
  font-size: 15px;
  line-height: 110px;
  font-weight: bold;
  
  background-image: url(../img/stiker.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.stiker p {
  padding: 0;
  margin: 0;
  
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  transform: rotate(-15deg);
}

.stiker span {
  color: #2bde73;
}

.second-block {
  font-size: 24px;
}

.second-block__item {
/*  flex-grow: 1;*/
  flex-basis: 560px;
  min-height: 560px;
  padding: 30px;
  margin-bottom: 40px;
/*  margin-right: 40px;*/
}

.second-block__item:first-child {
  direction: rtl;
  background: #5eb7a5 url(../img/bl_speaker.jpg) no-repeat -290px -40px;
}

.second-block__item:last-child {
  background: #757dc9 url(../img/photo_cam.png) no-repeat 130px 280px;
  margin-right: 0;
}

.item__medium-content {
  width: 90%;
}

.item__medium-content h2 {
  font-size: 48px;
  margin-bottom: 25px;
}

.item__medium-content p{
  margin-bottom: 60px;
}

.third-block {
  margin-bottom: 110px;
}

.third-block__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 360px;
  min-height: 440px;
  text-align: center;
/*  margin: 0 auto;*/
  margin-bottom: 40px;
  padding: 60px 30px 30px;
}

.third-block__item:nth-child(1) {
  background: #eb7c61 url(../img/air_purifier.png) no-repeat -20px 250px;
}

.third-block__item:nth-child(2) {
  background: #537582 url(../img/headphones.jpg) no-repeat -325px -155px;
}

.third-block__item:nth-child(3) {
  background: #81cada url(../img/braun_pr.png) no-repeat 28px 245px;
}

.third-block__item:nth-child(odd) .item__small-content {
  margin-bottom: auto;
}

.third-block__item:nth-child(even) .item__small-content {
  margin-top: auto;
}

.item__small-content {
  font-size: 16px;
}

.item__small-content p {
  margin: 0;
}

.item__small-content h2 {
  font-size: 36px;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 15px;
}

.subscribe-block {
  width: 100%;
  margin-bottom: 100px;
  
  font-size: 18px;
  color: #93a3ab;
  text-align: center;
}

.subscribe-block__item {
  width: 72%;
  margin: 0 auto;
}

.subscribe-block__item .big-text {
  font-size: 36px;
}

.links ul {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  
  list-style: none;
  text-align: center;
}

.links li {
  position: relative;
  display: inline;
  padding-right: 40px;
  vertical-align: top;
}

.links a {
  color: #93a3ab;
  font-size: 24px;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.links li::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 15px;
  width: 6px;
  height: 6px;
  background-color: #93a3ab;
  border-radius: 50%;
}

.links li:last-child::after {
  display: none;
}

.footer .copyright {
  margin: 0;
  padding: 0;
  
  text-align: center;
  font-size: 18px;
  color: rgba(127, 146, 157, 0.3);
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 3px solid #f0caa1;
}

.btn:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.btn-shop {
  font-size: 24px;
  padding: 13px 25px;
}

.btn-buy, .btn-details, .btn-subscribe {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.btn-buy {
  padding: 12px 38px;
}

.btn-details {
  padding: 8px 14px;
}

.btn-subscribe {
  padding: 17px 125px;
  border-color: #81cada;
  background-color: transparent;
}

input[name="email"] {
  width: 360px;
  height: 60px;
  margin-bottom: 20px;
  
  font-family: HKGrotesk, sans-serif;
  font-size: 24px;
  color: #93a3ab;
  text-align: center;
  
  border: 3px solid #63767f;
  background-color: transparent;
}

.container {
  width: 85%;
  margin: 0 auto;
}