@font-face {
  font-family: HKGrotesk;
  src: url(../fonts/HKGrotesk-Light.woff2) format('woff2'),
       url(../fonts/HKGrotesk-Light.woff) format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'League Spartan';
  src: url(../fonts/LeagueSpartan-Bold.otf) format('opentype');
  font-style: normal;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  font-family: HKGrotesk, sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  background-color: #212c44;
}

.block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.block .item {
  margin: 20px;
}

.header-block {
  justify-content: space-between;
  margin: 44px 0 12px;
}

.header-block .logo {
  display: flex;
}

.header-block img {
  width: auto;
  height: 100%;
}

.header-block .form {
  align-self: center;
  width: 178px;
  padding-bottom: 2px;
  border-bottom: 3px solid #62767f;
}

.header .form-search {
  display: flex;
  flex-wrap: nowrap;
}

.form-search-btn {
  font-size: 0;
  color: transparent;
  width: 30px;
  height: 28px;
  background: url(../img/search.svg) no-repeat 50% 50%;
  border: none;
  cursor: pointer;
}

.form-search input[id="query-search"] {
  width: 100%;
  height: 30px;
  font-family: HKGrotesk, Arial, sans-serif;
  font-size: 24px;
  color: #62767f;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}

.form-search input[id="query-search"]::placeholder {
  color: #62767f;
}

.form-search input[id="query-search"]:focus,
.form-search-btn:active,
.form-search-btn:focus {
  outline-color: #212c44;
}

h1,
h2 {
  font-family: 'League Spartan', Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.item .short-text {
  display: inline-block;
}

.first-block__item {
  position: relative;
  flex-basis: 100%;
  min-height: 580px;
  padding: 55px 60px;

  background-image: url(../img/product.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.first-block__item h1 {
  font-size: 80px;
  margin-bottom: 20px;
}

.item__large-content {
  width: 36%;
  font-size: 32px;
}

.item__large-content .short-text {
  margin-bottom: 135px;
}

.stiker {
  width: 115px;
  height: 115px;
  display: flex;
  position: absolute;
  top: 37px;
  right: 37px;

  font-family: Baloo;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;

  background: url(../img/stiker.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.stiker .short-text {
  margin: auto;
  transform: rotate(-15deg);
}

.stiker .color {
  color: #2bde73;
}

.second-block__item {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  flex-basis: 430px;
  min-height: 460px;
  padding: 30px;
  font-size: 24px;
}

.second-block__item h2 {
  font-size: 48px;
  margin: 0;
  margin-top: 33px;
}

.second-block__item .item__image {
  position: absolute;
  width: 500px;
  height: 350px;
}

.second-block__item:first-child {
  background-color: #5eb7a5;
}

.second-block__item:first-child .item__image {
  left: -93px;
  bottom: -15px;
  z-index: 1;
}

.second-block__item:last-child {
  background-color: #757dc9;
}

.second-block__item:last-child .item__image {
  right: -78px;
  bottom: -70px;
  z-index: 1;
}

.item__medium-content {
  position: relative;
  z-index: 2;
  width: 90%;
}

.second-block__item:first-child .item__medium-content {
  text-align: right;
  margin-left: auto;
}

.item__medium-content .short-text {
  margin-top: 10px;
  margin-bottom: 60px;
}

.third-block {
  margin-bottom: 133px;
}

.third-block__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 280px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

.third-block__item .item__image {
  position: relative;
  width: 300px;
  height: 220px;
}

.third-block img {
  width: 100%;
  height: auto;
}

.item__small-content {
  width: 280px;
}

.item__small-content .short-text {
  margin: 0;
}

.item__small-content h2 {
  font-size: 36px;
  margin: 0;
  margin-bottom: 24px;
  margin-top: 15px;
}

.item__small-content .btn-details {
  margin-bottom: 4px;
}

.third-block__item:nth-child(1) {
  background-color: #eb7c61;
}

.third-block__item:nth-child(1) .item__image {
  top: 36px;
}

.third-block__item:nth-child(2) {
  background-color: #537582;
}

.third-block__item:nth-child(2) .item__image {
  left: 0;
  right: 0;
  top: -85px;
}

.third-block__item:nth-child(3) {
  background-color: #81cada;
}

.third-block__item:nth-child(3) .item__image {
  top: 26px;
}

.third-block__item:nth-child(odd) .item__small-content {
  padding-top: 35px;
  margin-bottom: auto;
}

.third-block__item:nth-child(even) .item__small-content {
  order: 2;
  margin-top: auto;
}

.third-block__item:nth-child(odd) {
  padding-top: 30px;
}

.third-block__item:nth-child(even) {
  padding-bottom: 30px;
}

.third-block__item:nth-child(even) .item__image {
  order: 1;
}

.subscribe-block {
  margin-bottom: 100px;
  font-size: 18px;
  color: #93a3ab;
  text-align: center;
}

.subscribe-block__item {
  width: 67%;
  margin: 0 auto;
}

.subscribe-block__item .big-text {
  font-size: 34px;
  letter-spacing: 1px;
}

.subscribe-block__item p:last-of-type {
  margin-bottom: 50px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 360px;
  margin: 0 auto;
}

.subscribe-form input[name="email"] {
  width: 360px;
  height: 60px;
  margin-bottom: 20px;
  font-family: HKGrotesk, Arial, sans-serif;
  font-size: 24px;
  color: #93a3ab;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #63767f;
  border-radius: 0;
  background-color: transparent;
}

.subscribe-form input[name="email"]::placeholder {
  color: #93a3ab;
}

.subscribe-form input[name="email"]:focus {
  outline-color: #63767f;
}

.footer {
  padding-bottom: 50px;
}

.footer .links {
  margin: 0 auto 25px;
}

.footer .links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.footer .links li {
  position: relative;
  display: inline;
  padding-right: 38px;
  vertical-align: top;
}

.footer .links a {
  color: #93a3ab;
  font-size: 23px;
  text-decoration: none;
}

.footer .links a:hover {
  text-decoration: underline;
}

.footer .links li::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 15px;
  width: 6px;
  height: 6px;
  background-color: #93a3ab;
  border-radius: 50%;
}

.footer .links li:last-child {
  padding-right: 0;
}

.footer .links li:last-child::after {
  display: none;
}

.footer .copyright {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: rgba(127, 146, 157, 0.3);
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 3px solid #f0caa1;
}

.btn:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.btn-shop {
  padding: 13px 25px;
  font-size: 24px;
}

.btn-buy,
.btn-details,
.btn-subscribe {
  font-family: "League Spartan", Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.btn-buy {
  padding: 14px 36px 9px;
}

.btn-details {
  padding: 14px 14px 9px;
}

.btn-subscribe {
  width: 100%;
  padding: 18px 0 14px;
  border-color: #81cada;
  background-color: transparent;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1059px) {
  .block .item {
    margin: 10px;
  }
  .item__medium-content {
    width: 80%;
  }
}

@media (max-width: 1019px) {
  .second-block__item {
    min-height: 300px;
  }
  .item__medium-content {
    width: 60%;
  }
}

@media (max-width: 768px) {
  body {
    margin-bottom: 40px;
  }
  .first-block {
    font-size: 24px;
  }
  .first-block__item {
    min-height: 480px;
    padding: 20px;
  }
  .item__large-content {
    width: 60%;
  }
  .first-block__item h1 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .btn-shop {
    padding: 10px 18px;
  }
  .stiker {
    width: 80px;
    height: 80px;
    top: 25px;
    right: 25px;

    font-size: 12px;
  }
  .second-block {
    font-size: 20px;
  }

  .second-block__item {
    min-height: 320px;
    padding: 20px;
  }

  .second-block__item h2 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .item__medium-content {
    width: 60%;
  }

  .third-block {
    margin-bottom: 50px;
  }

  .subscribe-block {
    margin-bottom: 70px;
    font-size: 16px;
  }

  .subscribe-block__item {
    width: 85%;
  }

  .subscribe-block__item p:last-of-type {
    margin-bottom: 30px;
  }

  .footer {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .footer .links li::after {
    top: 8px;
  }
}

@media (max-width: 500px) {
  body {
    margin-bottom: 20px;
  }
  .header-block {
    margin: 5px 0 0;
    justify-content: center;
  }
  .header-block img {
    width: 70%;
    height: auto;
    margin: 0 auto;
  }
  .header-block .form {
    flex-grow: 1;
  }
  .first-block {
    font-size: 18px;
  }
  .first-block__item {
    min-height: 350px;
    background-image: url(../img/mobile/product_m.jpg);
  }
  .first-block__item h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .item__large-content {
    width: 80%;
    font-size: 24px;
  }
  .item__large-content .short-text {
    margin-bottom: 50px;
  }

  .btn-shop {
    padding: 10px 13px;
    font-size: 18px;
  }
  .stiker {
    width: 60px;
    height: 60px;
    top: 5px;
    right: 5px;

    font-size: 10px;
  }
  .second-block__item {
    font-size: 16px;
  }
  .second-block__item .item__image {
    width: 320px;
    height: 320px;
  }
  .item__medium-content {
    width: 100%;
  }
  .item__medium-content .short-text {
    margin-bottom: 30px;
  }
  .second-block__item h2 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .second-block__item:first-child img {
    width: 380px;
    height: auto;
  }
  .second-block__item:first-child .item__image {
    left: -110px;
    bottom: -70px;
  }
  .second-block__item:last-child img {
    width: 480px;
  }
  .second-block__item:last-child .item__image {
    right: -20px;
    bottom: -85px;
  }
  .third-block {
    margin-bottom: 30px;
    font-size: 14px;
  }

  .third-block__item:nth-child(odd) .item__small-content {
    padding-top: 20px;
  }
  .third-block__item:nth-child(even) .item__small-content {
    padding-bottom: 20px;
    padding-top: 0;
  }
  .third-block__item .item__image {
    height: 180px;
  }
  .third-block__item:nth-child(odd) {
    padding-top: 0;
  }
  .third-block__item:nth-child(even) {
    padding-bottom: 0;
  }
  .third-block__item:nth-child(1) .item__image {
    top: 20px;
  }
  .third-block__item:nth-child(2) .item__image {
    top: -125px;
  }
  .third-block__item:nth-child(3) .item__image {
    top: 20px;
  }
  .item__small-content h2 {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .subscribe-block .big-text {
    font-size: 24px;
  }
  .subscribe-form {
    width: 100%;
  }
  .subscribe-block {
    margin-bottom: 50px;
    font-size: 14px;
  }
  .subscribe-block__item p:last-of-type {
    margin-bottom: 20px;
  }
  .subscribe-form input[name="email"] {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;

    font-size: 18px;
  }
  .btn-subscribe {
    padding: 15px 0 11px;
    font-size: 18px;
  }
  .btn-buy,
  .btn-details,
  .btn-subscribe {
    font-size: 14px;
  }
  .footer {
    font-size: 12px;
    padding-bottom: 10px;
  }
  .footer .links {
    margin-bottom: 15px;
  }
  .footer .links li {
    padding-right: 20px;
  }
  .footer .links a {
    font-size: 16px;
  }
  .footer .links li::after {
    top: 8px;
    right: 7px;
    width: 4px;
    height: 4px;
  }
  .footer .copyright {
    font-size: 12px;
  }
}
