body {
  margin: 0;
  padding: 0;
  
  font-family: HKGrotesk, sans-serif;
  color: #fff;
  line-height: 1.2;
  
  background-color: #212c44;
}

body * {
/*  box-sizing: border-box;*/
}

.header {
  margin-top: 60px;
  margin-bottom: 50px;
}

.header-block__item {
  margin: 20px;
}

.header-block .form-search {
  align-self: center;
}

.form-search-btn {
  font-family: HKGrotesk, sans-serif;
  font-size: 1.5rem;
  color: transparent;
  width: 35px;
  height: 38px;
  background: url(../img/search.svg) no-repeat 50% 50%;
  border: none;
  border-bottom: 3px solid #62767f;
  cursor: pointer;
  margin-right: -5px;
}

input[id="query-search"] {
  width: 170px;
  height: 35px;
  font-family: HKGrotesk, sans-serif;
  font-size: 1.5rem;
  color: #62767f;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #62767f;
}

h1, h2 {
  font-family: 'League Spartan', Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block .item {
  margin: 20px;
}

.first-block__item {
  position: relative;
  flex-basis: 100%;
  min-height: 590px;
  
  padding: 50px 60px;
  
  font-size: 2rem;
  
  background-image: url(../img/product.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.first-block__item h1 {
  font-size: 5rem;
  margin-bottom: 20px;
}

.item__large-content {
  width: 36%;
}

.item__large-content p {
  margin-bottom: 120px;
}

.stiker {
/*  width: 9.5%;*/
  width: 110px;
  height: 110px;
  
  position: absolute;
  top: 37px;
  right: 37px;
  
  font-family: Baloo;
  font-size: 1rem;
  line-height: 110px;
  font-weight: bold;
  
  background-image: url(../img/stiker.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.stiker p {
  padding: 0;
  margin: 0;
  
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  transform: rotate(-15deg);
}

.stiker span {
  color: #2bde73;
}

.second-block {
  font-size: 1.5rem;
}

.second-block__item {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  flex-basis: 430px;
  min-height: 460px;
  padding: 30px;
}

.second-block__item h2 {
  font-size: 3rem;
  margin: 0;
  margin-top: 30px;
/*  margin-bottom: 25px;*/
}

.second-block__item .item__image {
  position: absolute;
  width: 500px;
  height: 350px;
}

.second-block__item:first-child {
  direction: rtl;
  background-color: #5eb7a5;
}

.second-block__item:first-child .item__image {
  left: -80px;
  bottom: -30px;
  z-index: 1;
  background: url(../img/bl_speaker.jpg) no-repeat -200px -285px;
}

.second-block__item:last-child {
  background-color: #757dc9;
}

.second-block__item:last-child .item__image {
  right: -59px;
  bottom: -42px;
  z-index: 1;
  background: url(../img/photo_cam.png) no-repeat 13px 28px;
}

.item__medium-content {
  position: absolute;
  z-index: 2;
  width: 80%;
}

.item__medium-content p{
  margin-top: 10px;
  margin-bottom: 60px;
}

.third-block {
  margin-bottom: 110px;
  min-height: 440px;
}

.third-block__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
/*  align-items: center;*/
  flex-basis: 320px;
  text-align: center;
}

.third-block__item .item__image {
  width: 310px;
  height: 220px;
}

.item__small-content {
  width: 310px;
  font-size: 1rem;
}

.item__small-content p {
  margin: 0;
}

.item__small-content h2 {
  font-size: 2.25rem;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 15px;
}

.third-block__item:nth-child(1) {
  background-color: #eb7c61;
}

.third-block__item:nth-child(1) .item__image {
  background: url(../img/air_purifier.png) no-repeat 50% -10%;
}

.third-block__item:nth-child(2) {
  background-color: #537582;
}

.third-block__item:nth-child(2) .item__image {
  background: url(../img/headphones.jpg) no-repeat 76% 62%;
}

.third-block__item:nth-child(3) {
  background-color: #81cada;
}

.third-block__item:nth-child(3) .item__image {
  background: url(../img/braun_pr.png) no-repeat 50% -35%;
}

.third-block__item:nth-child(odd) .item__small-content {
  padding-top: 50px;
  margin-bottom: auto;
}

.third-block__item:nth-child(even) .item__small-content {
  order: 2;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: auto;
}

.third-block__item:nth-child(even) .item__image {
  order: 1;
}

.subscribe-block {
  width: 100%;
  margin-bottom: 100px;
  
  font-size: 18px;
  color: #93a3ab;
  text-align: center;
}

.subscribe-block__item {
  width: 72%;
  margin: 0 auto;
}

.subscribe-block__item .big-text {
  font-size: 2.25rem;
}

.links ul {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  
  list-style: none;
  text-align: center;
}

.links li {
  position: relative;
  display: inline;
  padding-right: 40px;
  vertical-align: top;
}

.links a {
  color: #93a3ab;
  font-size: 1.5rem;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.links li::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 15px;
  width: 6px;
  height: 6px;
  background-color: #93a3ab;
  border-radius: 50%;
}

.links li:last-child::after {
  display: none;
}

.footer .copyright {
  margin: 0;
  padding: 0;
  
  text-align: center;
  font-size: 1.125rem;
  color: rgba(127, 146, 157, 0.3);
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 3px solid #f0caa1;
}

.btn:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.btn-shop {
  font-size: 1.5rem;
  padding: 13px 25px;
}

.btn-buy, .btn-details, .btn-subscribe {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: bold;
}

.btn-buy {
  padding: 12px 38px;
}

.btn-details {
  padding: 8px 14px;
}

.btn-subscribe {
  padding: 17px 125px;
  border-color: #81cada;
  background-color: transparent;
}

input[name="email"] {
  width: 360px;
  height: 60px;
  margin-bottom: 20px;
  
  font-family: HKGrotesk, sans-serif;
  font-size: 1.5rem;
  color: #93a3ab;
  text-align: center;
  
  border: 3px solid #63767f;
  background-color: transparent;
}

.container {
/*  width: 85%;*/
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 760px) {
  
  .block .item {
    margin: 10px;
  }
  
  .first-block__item {
    min-height: 480px;
    padding: 20px 30px;
    font-size: 1.5rem;
  }
  
  .item__large-content {
    width: 40%;
  }
  
  .first-block__item h1 {
    font-size: 4rem;
    margin-bottom: 10px;
  }
  
  .btn-shop {
    font-size: 1.2rem;
    padding: 10px 18px;
  }
  
  .stiker {
    width: 80px;
    height: 80px;

    top: 25px;
    right: 25px;

    font-size: 0.8rem;
    line-height: 80px;
  }
  
  .second-block {
    font-size: 1.3rem;
  }
  
  .second-block__item {
    min-height: 320px;
    padding: 20px;
  }
  
  .second-block__item h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  
  .item__medium-content {
    width: 50%;
  }
  
  .second-block__item:first-child {
    background-position: -250px -250px;
  }
  
  .second-block__item:last-child {
    background-position: 200px 80px;
  }
  
  .btn-buy, .btn-details, .btn-subscribe {
    font-size: 1rem;
  }

  .btn-buy {
    padding: 10px 28px;
  }
}